name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        project:
          - src/Madev.Utils.Infrastructure.Http/Madev.Utils.Infrastructure.Http.csproj
          - src/Madev.Utils.Infrastructure.Services.Mailing/Madev.Utils.Infrastructure.Services.Mailing.csproj
          - src/Madev.Utils.Infrastructure.Services.Mailing.Mailkit/Madev.Utils.Infrastructure.Services.Mailing.Mailkit.csproj
          - src/Madev.Utils.Infrastructure.Services.Mailing.MsGraph/Madev.Utils.Infrastructure.Services.Mailing.MsGraph.csproj
          - src/Madev.Utils.Infrastructure.Hangfire/Madev.Utils.Infrastructure.Hangfire.csproj
          

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.x'

    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v3.0.0
      with:
        versionSpec: '6.0.x'

    - name: Determine Version
      uses: gittools/actions/gitversion/execute@v3.0.0
      with:
        useConfigFile: true

    - name: Restore dependencies
      run: dotnet restore ${{ matrix.project }}

    - name: Build the project
      run: dotnet build ${{ matrix.project }} --configuration Release --no-restore /property:Version=${{ env.fullSemVer }}

    - name: Pack the project
      run: dotnet pack ${{ matrix.project }} --configuration Release --no-build --output ./nupkgs /p:Version=${{ env.fullSemVer }}

    - name: Publish to NuGet.org
      if: github.ref == 'refs/heads/master'
      run: dotnet nuget push ./nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}
